<% if user.errors.any? %>
  <div class="error_explanation">
    <h2 class="error_title"><%= pluralize(user.errors.count, "error") %> prohibited this record from being saved:</h2>
    <ul class="error_specific">
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>