<!--New Book投稿フォーム（ログイン時のみ表示）-->

<div class="new-book">
  <h1>New Book</h1>
  <%= form_with model:book, local:true do |f| %>
    <div>
      <h4 class="new-title">Title</h4>
      <%= f.text_field :title %>
    </div>

   <div class="field">
      <h4 class="new-body">Opinion</h4>
      <%= f.text_area :body %>
   </div>

    <div class="submit">
      <%= f.submit 'Create Book' %>
    </div>
  <% end %>
</div>