<!--ログインしていた場合に左サイドバーに表示されるユーザ情報-->

<div class="user-info">
  <h1>User Info</h1>
  <%= attachment_image_tag user, :profile_image, :fill, 80, 80, format: 'jpeg', fallback: "no_image.jpg" %>

  <table>
    <tr>
      <td>name</td>
      <td><%= user.name %></td>
    </tr>
    <tr>
      <td>introduction</td>
      <td><%= user.introduction %></td>
    </tr>
  </table>

  <%= link_to "EDIT PROFILE", edit_user_path(current_user.id) %></td>
</div>
