<div class="container">
  <div class="row">
    <div class="col-3">

        <h2>User Info</h2>
        <%= attachment_image_tag user, :profile_image, :fill, 80, 80, format: 'jpeg', fallback: "no_image.jpg" %>

        <table class="table">
          <tbody>
            <tr>
              <td><strong>name</strong></td>
              <td><strong><%= user.name %></strong></td>
            </tr>
            <tr>
              <td><strong>introduction</strong></td>
              <td><strong><%= user.introduction %></strong></td>
            </tr>
          </tbody>
        </table>

        <div>
          <a class="btn btn-outline-secondary btn-block fas fa-user-cog" href="/users/<%= current_user.id %>/edit"></a>
        </div>

    </div>
  </div>
</div>

